* {
    /* outline: 1px solid #ccc; */
}

.carItemBtnM_ZY{
    display: none;
}
button:focus {
    outline: none;
    box-shadow: 0 0 2px 3px #01FFC3;
}

.container {
    max-width: 1200px;
    padding: 0;
}

.cartTitleRow_ZY {
    margin: 20px auto;
    padding: 0;
    width: 100%;
    background-color: #374052;
    color: white;
    border-radius: 8px 8px 0 0;
}

.carheaderItem_ZY {
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
    letter-spacing: 10px;
    text-indent: 10px;

}
.carTitleNameMolible_ZY{
    display: none;
}

.cartItemRow_ZY {
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    /* background-color: wheat; */
    margin: 0 auto 10px;
    padding: 0;
    /* border-bottom: 1px solid #959ea8; */
}

.carItem_ZY {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px auto;
    padding: 0;

}

.carItemName_ZY {
    display: flex;
    height: 80px;
    margin: 0 auto;
    padding: 0 5px;

}

.carItemImg_ZY img {
    width: 100%;
    height: 100%;
}

.carItemWord_ZY {
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;

}

.carItemPrice_ZY {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.carItemQuantityOut_Zy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carItemQuantity_Zy {
    width: 100%;
    height: 35px;
    border: 3px solid #061127;
    border-radius: 4px;
    position: relative;
}

.carItemQuantity_Zy::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 8px;
    top: 35%;
    right: 10%;
    background: url(../icon/upickdownbar.png) no-repeat center;
    pointer-events: none;
}

.carItemQuantitySelect_ZY {
    margin: 0 auto;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    line-height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 30%;
    font-size: 20px;
    font-weight: bold;
}

.carItemTotlePrice_ZY {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

}
.carItemTotlePriceMobile_ZY{
    display: none;
}

.carItemBtn_ZY {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carItemBtn_ZY button {
    width: 120px;
    margin: 5px auto;
    padding: 2px 0;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: #374052;
    letter-spacing: 1px;
}

.carBorderBottom_ZY {
    margin: 0 auto;
    width: 95%;
    height: 2px;
    background-color: #d0d6df;
    border-radius: 10px;
}

.carFooterInfor_ZY {
    width: 100%;
    background-color: #383e44;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
}

.carTotalQuti_ZY {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
    align-items: center;

}

.carTotalQuti_ZY p {
    margin: 0 10px;
}

.carTotalQuti_ZY span {
    color: #fd723c;
}

.carTotalPrice_ZY {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

}

.carTotalPrice_ZY p {
    text-align: center;
    margin: 0 15px 0 auto;
    color: white;
}

.carTotalPrice_ZY span {
    color: #fd723c;

}

.carCheckout_ZY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carCheckout_ZY button {
    width: 120px;
    margin: 10px auto;
    padding: 2px auto;
    border-radius: 30px;
    border: none;
    background-color: #ff8888;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.carRecommendTitle_ZY{
margin: 10px auto 5px;
}

.carRecommendTitle_ZY p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    font-size: 22px;
    font-weight:bold;
    color: #383e44;
}

.carRecommendBox_ZY {
    width: 100%;
    margin: 10px auto;
}

.carRecommend_ZY {
    width: 100%;
    margin: 0 auto;
}


.carRecommendItem_ZY {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 5px;

}

.carRecommendImg_ZY {
    width: 40%;
    margin: 0px auto;
    padding: 0 5px 0 0;

}

.carRecommendImg_ZY img {
    width: 100%;
}

.carRecommendInfor_ZY {
    width: 60%;

}

.carRecommendInfor_ZY p {
    font-size: 14px;
    font-weight: bold;
    /* vertical-align: middle; */
    text-align: justify;
    margin-bottom: 5px;
}

.carRecommendBtn_ZY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carRecommendCatBtn_ZY {
    background-color: white;
    border: none;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 auto;

}

.carRecommendBtn_ZY p {
    margin: 0 auto;
    flex-grow: 0.8;
    font-size: 20px;
    font-weight: bold;
    color: #ff2981;
    text-align: center;
}

.carGoToShopRow_ZY{
    display: flex;
    margin: 20px 0 ;
    flex-direction: row-reverse;
}

.carGoToShopBtn_ZY{
    width: 130px;
    background-color: #ff8888;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    letter-spacing: 2px;
    text-indent: 2px;
}

.carNoticeSection_ZY{
    margin: 20px auto;
    border: 2px solid #383E44;
    border-radius: 8px 8px 0 0 ;
}   

.carNoticeTitle_ZY{
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e8ee;
    border-radius: 8px 8px 0 0 ;
}
.carNoticeTitle_ZY p {
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    text-indent: 10px;
    
}

.carNoticeInfor_ZY{
    margin: 10px auto;
    list-style-type: decimal;
}

.carNoticeInfor_ZY ul{
    list-style-type: decimal;
}
.carNoticeInfor_ZY li{
    margin: 5px auto;
}

.carFixedInforM_ZY{
    display: none;
}
@media screen and (max-width:375px){
    button:focus {
        outline: none;
        box-shadow:none;
        color: turquoise;
    }
    .container{
        max-width: 375px;
    }
    .carheaderItem_ZY
    {
        display: none;
    }

    .carTitleNameMolible_ZY{
        /* width: 100%; */
        display: flex;
        font-size: 16px;
        font-weight: bold;
        margin: 5px auto;
        text-align: center;
        letter-spacing: 10px;
        text-indent: 10px;
    }
    .carItemWord_ZY{
    padding: 0;
    }

    .cartItemRow_ZY{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        height: auto;

    }
    .carItem_ZY{
        flex-wrap: wrap;
        margin: 10px auto;
    }

    .carItemWord_ZY
    {
        margin: 0 auto;
        padding: 3px;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        text-align:justify;
    }
    .carItemPrice_ZY{
        display: none;
    }
    .carItemQuantityOut_Zy{
        width: 100%;
        justify-content: flex-end;
        margin: 5px 10px;
    }
    .carItemQuantity_Zy{
        width:80px;

    }
    .carItemQuantitySelect_ZY{
        font-size: 16px;
        font-weight: bold;
    }
    .carItemTotlePrice_ZY{
       display: none;
    }
    .carItemTotlePriceMobile_ZY{
        width: 100px;
       margin-left: 10px;
        padding:0 ;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }
    .carItemTotlePriceMobile_ZY p{
        margin: 0;
    }
    .carItemTotlePriceMobile_ZY span{
        color: #ff8888;
    }
    .carItemBtnM_ZY{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    .carRemoveBtnM_ZY{
        border: none;
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: #383E44;
    }
    .carItemBtn_ZY{
        display: none;
    }
    .carFooterInfor_ZY{
        display: none;
    }
    .carRecommendContainer{
        display: none;
    }

    .carFixedInforM_ZY{
        position: fixed;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 0  ;
        padding:0 ;
        bottom: 0px;
        left: 0;
        background-color: #383E44;
        color: white;


    }
    
    
    .carFixedInforFontM_ZY{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .carFixedInforFontM_ZY p{
        width: 110px;
        margin: 3px 10px;
        font-size: 12px;
        
    }

    .carFixedInforFontM_ZY p:nth-child(2) span{
        font-size: 20px;
        
        color: #ff8888;
    }
    .carFixedInforFontBtnBoxM_ZY button{
        width: 100px;
        height: 40px;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        font-size: 18px;
        margin: 0 5px;
        
    }
    .carFixedButtonM1_ZY{
        /* background-color: #FD723C;
        color: white; */
        background-color: white;
        color: #ff8888;
    }
    .carFixedButtonM2_ZY{
        background-color: #ff8888;
        color: white;

    }
    .carItemImg_ZY{
        margin: 1px;
        padding-left: 0px;
        padding-right:0px ;


    }
    .carBorderBottom_ZY{
        width: 100%;
        margin-bottom: 10px;
    }


}