* {
    /* outline: 1px solid #000; */
}

body {
    overflow-x: hidden;
}

/* 按鈕按下後的邊框 */
button:focus {
    outline: none;
    box-shadow: 0 0 2px 3px #01FFC3;
}

.carStepRow_ZY {
    width: 100%;
    margin: 0px auto;
    padding-top: 200px;
}

.carStepContainer_ZY{
    margin: 0px auto;
}

.carStepGroup_ZY {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.carStepArrow_ZY {
    position: relative;
    color: #061127;
}

.carStepArrow_ZY::after {
    position: absolute;
    content: "➔";
    font-size: 28px;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
    color: #061127;
}

.carStepCircle_ZY {
    margin: 5px auto;
    color: white;
    background-color: #061127;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
}

.carStepTitle_ZY {
    font-size: 16px;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
    color: #061127;
}

/*此div撐開footer上方的留白空間*/
.shpFooterSpace-CL {
    height: 100px;
    width: 1300px;
}

/* 非此頁面步驟的顏色 請將這邊的CLASS 加入該步驟的CLASS*/
/* 箭頭 */
.carStepArrowNotFucus_ZY::after {
    color: #D2D8E2;
}
/* 數字 */
.carStepCircleNotFucus_ZY {
    background-color: #D2D8E2;
}
/* 
底下文字 */
.carStepTitleNotFucus_ZY {
    color: #D2D8E2;
}

@media screen and (max-width:375px) {
    .carStepContainer_ZY{
        margin: 5px auto;
    }
    .carStepGroup_ZY{
        width: 100%;
    }
    
    .carStepArrow_ZY:after{
        display: none;
    }
    .carStepArrow_ZY{
        padding-left: 6px;
        padding-right: 6px;
    }

    .carStepTitle_ZY{
        font-size: 12px;
    }


    
    .navbarAll {
        display: none;
    }
    .carStepRow_ZY {
        width: 100%;
        margin: 10px auto;
    }
    .shpFooterSpace-CL {
        display: none;
    }
    .shpFooterOut-CL {
        display: none;
    }
    .colorspace {
        display: none;
    }

}