        /*將body的內建scrollbar隱藏*/
        /*body::-webkit-scrollbar {*/
        /*display: none;*/
        /*}*/

        body {
            overflow-x: hidden;
        }
        
        /*首頁互動特效區*/
        /*撐高頂部的navbar區塊*/
        .aniTopSpace {
            height: 80px;
            width: 100vw;
        }
        /*滿版底部區塊*/
        .aniContainer-CL {
            width: 100vw;
            height: calc(100vh - 80px);
            background: #ffffff;
            position: relative;
            overflow: hidden;
        }


        /*商場*/
        /*移除BS原定的margin-left-15*/
        .shpTop-CL .row {
            margin-left: 15px;
        }

        .shpTop-CL {
            width: 100vw;
            background:#ffffff;
            margin: 0 auto 0 auto;
        }

        /*移除商場區所有a標籤的hover底線*/
        .shpTop-CL a, .siteBtn-CL a {
            text-decoration: none;
        }

        /*商場頂部預留200px給navbar*/
        .shpTopSpace-CL {
            height: 200px;
            width: 100%;
            
        }

        /*面包屑-修改背景色為透明*/
        .breadcrumb {
            background: transparent;
        }
        
        /*面包屑-修改ICLASS圖標margin*/
        .breadcrumb .fa-map-marker-alt {
            margin-left: -12px;
            margin-right: 12px;
        }

        /*商場內容區*/
        .shpContainer-CL {
            width: 1200px;   
            padding: 0;       
        }

        /*細節頁頂部區域*/
        .row.dtlTop-CL {
            width: 100%;
            height: 620px;
            box-sizing: border-box;
            margin-left: 0px;
        }

        /*商品細節-頂部區域商品圖-大*/
        .dtlTopImg-CL {
            width: 500px;
            height: 500px;
            outline: 1px solid red;
        }
        .dtlTopImg-CL img {
            display: block;
            width: 500px;
            height: 500px;
        }
        /*手機版-面包屑不在WEB版出現*/
        .breadcrumb2 {
            display: none;
        }

        /*商品細節-頂部區域商品圖-小*/
        .dtlTopImgMore-CL {
            width: 500px;
            height: 100px;
            border-top: 1px solid #E4E8EE;
            border-bottom: 1px solid #E4E8EE;
            border-radius: 8px;
            margin-top: 18px;
            position: relative;
            overflow: hidden;
        }
        .dtlImgCaro-CL {
            margin-left: 25px;

        }
        .dtlImgCaro-CL img {
            width: 80px;
            height: 80px;
            margin-left: 5px;
            margin-top: 10px;
        }

        /*商品細節-小輪播區上下頁按鈕*/
        .dtlImgBtn-CL {
            position: absolute;
            width: 500px;
            height: 100px;
            outline: 1px solid purple;
            display: flex;
            justify-content:space-between;
        }

        .dtlImgPre-CL {
            height: 100px;
            width: 20px;
            background-color: #383E44;
            border-radius: 8px 0 0 8px;
            color: #ffffff;
            text-align: center;
        }

        .dtlImgNext-CL {
            height: 100px;
            width: 20px;
            background-color: #383E44;
            border-radius: 0 8px 8px 0;
            color: #ffffff;
            text-align: center;
        }

        .dtlImgPre-CL i, .dtlImgNext-CL i {
            line-height: 100px;
            font-size: 22px;
        }

        /*商品細節-頂部右邊區*/
        /*整體margin-left:40*/
        .dtlTop-CL .col-lg-6 {
            margin-left: 70px;
        }
        /*商品標題*/
        .dtlTopName-CL {
            line-height: 36px;
        }
        /*商品編號*/
        .dtlTop-CL .col-lg-6 span {
            display: block;
            font-size: 20px;
            font-weight: 900;
        }
        /*商品規格*/
        .dtlSpec-CL {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        .dtlItemInfo-CL {
            line-height: 20px;
            margin-top: 10px;
        }

        /*商品保固與數量選擇區*/
        .dtlItemWarranty-CL {
            text-align: right;
        }
        /*數量選擇BTN*/
        .dtlQt-CL {
            height: 30px;
            box-sizing: border-box;     
            margin-top: 10px;
        }
        .dtlQt-CL i {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #383E44;
            color: #ffffff;
        }
        .dtlQt-CL i:nth-child(1) {
            border-radius: 15px 0 0 15px;
        }
        .dtlQt-CL i:nth-child(3) {
            border-radius: 0 15px 15px 0;
        }
        .dtlQt-CL select {
            width: 60px;
            height: 30px;
            text-align: center;
        }

        /*加入追蹤清單與購物車*/
        .dtlAddCar-CL {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .dtlAddCar-CL button {
            width: 250px;
        }

        /*手機版-加入追蹤清單與購物車不在WEB版出現*/
        .dtlAddCarPhone-CL {
            display: none;
        }

        /*其他商品輪播牆*/
        /*標題*/
        .dtlOther-CL {
            margin-top: 40px;
        }

        /*其他熱銷商品區*/
        .shpHotSale-CL {
            height: 330px;
            width: 1200px;
        }


        /*商品輪播牆*/
        .shpHotSaleContain-CL {
            width: 1200px;
            margin-top: 20px;
        }

        /*商品輪播牆內容-修改商品內容顯示區總高度*/
        .shpHotSaleInner-CL {
            height: 280px;
        }

        /*商品輪播牆單頁內容-修改間距*/
        .shpHotItemCaro-CL {
            width: 1150px;
            margin-left: 60px;
        }

        .shpHotSale-CL .shpHotItemCaro-CL .col {
            width: 100px;
        }

        /*商品輪播牆單頁內容p文字格式-修改寬度*/
        .shpHotItemCaro-CL p {
            width: 140px;
            margin-left: 12px;
            font-size: 14px;
            line-height: 24px;
        }

        /*修改商品輪播牆上下頁之btn範圍與大小*/
        .shpCaroBtn-CL {
            margin: 0;
            padding: 0;
            width: 50px;
            height: 280px;
        }

        /*修改商品輪播牆上下頁之Icon顏色*/
        .shpCaroBtnIcon-CL {
            color: #383E44;
            font-size: 40px;
        }

        /*修改商品輪播牆-item cart裡的愛心與購物車icon顏色*/
        .shpHeart-CL {
            color:#FF8888;
            font-size: 22px;
        }

        .shpShopCar-CL {
            color: #383E44;
            font-size: 22px;
            margin-left: 8px;
        }

        /*修改商品輪播牆-金額文字的顏色與新增錢字符號並調整間距*/
        span.shpItemDollor-CL {
            position: relative;
            color: #FD723C;
            padding-left: 30px;
            font-size: 22px;
            font-weight: 900;
        }

        span.shpItemDollor-CL:before {
            position: absolute;
            content: "$";
            margin-left: -16px;
        }

        /*修改商品輪播牆-修改追蹤橫欄margin為置中,設定margin-top*/
        .shpHotCartInfo-CL {
            margin-top: 8px;
            margin-left: 12px;
        }

 

        /*商品詳細內容區*/
        .dtlItemContain-CL {
            width: 100%;
            padding-top: 10px;
        }
        /*商品說明切換btn*/
        .dtlSwitchBtn-CL {
            width: 430px;
            height: 60px;
            margin: 0 auto;
            background-color: #383E44;
            border-radius: 30px;
            display: flex;
            justify-content: space-evenly;
            position: relative;
        }
        .dtlSwitchBG-CL {
            position: absolute;
            width: 200px;
            height: 40px;
            background-color: #ffffff;
            margin-top: 10px;
            margin-left: -50%;
            border-radius: 20px;
            z-index: 1;
        }

        /*商品說明切換btn-按鈕文字*/
        .dtlSwitchBtn-CL span {
            display: block;
            width: 200px;
            height: 40px;
            font-size: 18px;
            font-weight: 900;
            text-align: center;
            line-height: 40px;
            margin-top: 10px;
            color: #ffffff;
            border-radius: 20px;
            cursor: pointer;
            z-index: 500;
        }

        /*商品詳細內容-圖片區*/
        .dtlContainImg-CL {
            height: 1600px;
            outline: 1px solid blue;
            margin-top: 40px;
        }
        /*商品詳細內容-規格表格區*/
        .dtlContainTable-CL {
            border: 1px solid #383E44;
            border-radius: 8px;
            margin-top: 40px;
        }
        /*表格頂部標題*/
        .dtlContainTbHead-CL {
            width: 100%;
            height: 50px;
            text-align: center;
            background-color: #E4E8EE;
            border-radius: 8px 8px 0 0;
        }
        .dtlContainTbHead-CL h4 {
            line-height: 50px;
        }

        /*表格*/
        .dtlContainTable-CL table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }
        /*表格左下角圓角*/
        .dtlContainTable-CL table tr:last-child td:first-child {
            border-bottom-left-radius: 8px;
        }        

        .dtlContainTable-CL tr td {
            height: 50px;
            font-size: 18px;
            font-weight: 600;  
            border-top: 1px solid #9AA3AC;
        }
        
        .dtlContainTable-CL tr td:nth-child(1) {
            width: 300px;
            background-color: #E4E8EE;
            padding-top: 15px;
            text-align: center;
        }



    
        /*此div撐開footer上方的留白空間*/
        .shpFooterSpace-CL {
            height: 100px;
            width: 1300px;
        }


        /*以下全為fixed元件*/
        /*自製scrollBar*/
        .scrollBar-CL {
            height: 100vh;
            width: 20px;
            background: #100d16;
            border: 1px solid gray;
            position: fixed;
            z-index: 999;
            left: calc(100vw - 20px);
        }

        .scrollTP-CL {
            height: 100vh;
            width: 100%;
            background: #fa7c18;
            position: absolute;
            border-radius: 10px;
        }

        /*siteBtn*/
        .siteBtn-CL {
            position: fixed;
            z-index: 999;
            left: calc(100vw - 300px);
            top: 80vh;
            transform: translateY(150vh);
            transition: 1s;
        }

        .siteBtnInnerTop-CL {
            width: 60px;
            height: 60px;
            text-align: center;
            box-sizing: border-box;
            background-color: #383E44;
            border-radius: 30px 30px 0 30px;
            cursor: pointer;
            border: 1px solid #ffffff;
        }

        .siteBtn-CL p {
            color: #ffffff;
            margin: auto;   
        }

        a:nth-child(1) .siteBtnInner-CL p, a:nth-child(2) .siteBtnInner-CL p, a:nth-child(3) .siteBtnInner-CL p, a:nth-child(6) .siteBtnInner-CL p, .siteBtnInnerTop-CL p {
            padding-top: 15px;
        }

        .siteBtnInner-CL:nth-child(4) p, .siteBtnInner-CL:nth-child(5) p, .siteBtnInner-CL:nth-child(7) p, .siteBtnInner-CL:nth-child(8) p, .siteBtnInner-CL:nth-child(9) p, .siteBtnInner-CL:nth-child(10) p {
            padding-top: 1px;
        }

        /*siteBtn hover效果*/
        .siteBtnInner-CL:hover {
            background-color: #383E44;
        }

        .siteBtnInner-CL:hover>p   {
            color: #ffffff;
        }



         /*手機版*/
         @media (max-width:419px) and (min-width: 300px) {
            .aniContainerOut-CL {
                max-width: 355px;
            }
            .shpContainer-CL {
                width: 355px;
            }
            .shpHotSale-CL {
                width: 355px;
            }
            .shpFooterSpace-CL {
                width: 355px;
            }
            /*navbar內選項跟彩虹條都消失*/
            .navbarAll {
                width: 375px;
            }
            .upick-navbar-container {
                display: none;
            }
            .colorspace {
                display: none;
            }
            /*searchbar消失*/
            .navSearch-CL {
                display: none;
            }
            /*頁面頂端預留90給navbar*/
            .shpTopSpace-CL {
                height: 90px;
                width: 375px;
                outline: 1px solid purple;
            }
            /*WEB版面包屑不出現*/
            .breadcrumb {
                display: none;
            }
            /*商品圖區margin-top*/
            .dtlTop-CL {
                margin-top: 20px;
                display: block;
            }
            /*大商品圖*/
            .dtlTopImg-CL {
                width: 355px;
                height: 355px;
                margin-left: -15px;
            }
            .dtlTopImg-CL img {
                width: 355px;
                height: 355px;
            }
            /*手機版面包屑出現*/
            .breadcrumb2 {
                display: flex;
                margin-top: 20px;
            }
            /*其他商品標題消失*/
            .dtlOther-CL {
                display: none;
            }
            /*其他商品輪播牆消失*/
            .shpHotSale-CL {
                display: none;
            }
            /*小商品圖輪播牆*/
            .dtlTopImgMore-CL {
                width: 355px;
                height: 90px;
                margin-left: -15px;
            }
            .dtlImgBtn-CL, .dtlImgCaro-CL {
                width: 355px;
                height: 90px;
            }
            .dtlImgCaro-CL img {
                width: 65px;
                height: 65px;
            }
            /*商品標題*/
            .dtlTop-CL h1 {
                width: 355px;
                margin-left: -80px;
                margin-top: 20px;
                font-size: 18px;
            }
            /*商品編號*/
            .dtlTop-CL .col-lg-6 span {
               margin-left: 120px;

            }
            /*熱銷商品輪播牆消失*/
            .shpHotSaleContain-CL {
                display: none;
            }
            /*簡版商品規格*/
            .dtlSpec-CL {
                width: 355px;
                margin-left: -80px;
            }
            /*WEB版加入追蹤,購物車消失*/
            .dtlAddCar-CL {
                display: none;
            }
            /*取消簡版商品說明flex*/
            .dtlSpec-CL {
                display: block;
                height: 600px;
            }
            .dtlTop-CL .col-lg-6 {
                width: 355px;
            }
            /*保固文字*/
            .dtlItemWarranty-CL {
                text-align: left;
                margin-top: 20px;
            }
            /*數量選擇消失*/
            .dtlQt-CL {
                display: none;
            }
            /*手機版-金額,加入追蹤清單與購物車*/
            .dtlAddCarPhone-CL {
                display: flex;
                position: fixed;
                z-index: 999;
                width: 100vw;
                height: 50px;
                top: calc(100vh - 50px);
                box-shadow: 0px -1px 3px gray;
            }
            .dtlAddCarPhone-CL span, .dtlAddCarPhone-CL button {
                width: calc(100vw / 3);
                background-color: #ffffff;
            }
            .dtlAddCarPhone-CL span {
                display: block;
                color: #FD723C;
                font-size: 18px;
                line-height: 50px;
                text-align: center;
                position: relative;
            }
            .dtlAddCarPhone-CL span::before {
                position: absolute;
                content: "$";
                margin-left: -20px;
            }
            .dtlAddCarPhone-CL button {
                border: 0;
                cursor: pointer;
                font-weight: 700;
                text-align: center;
            }
            /*追蹤清單-愛心*/
            .dtlAddCarPhone-CL button .fa-heart {
                color: #FF8888;
            }
            /*商品說明切換btn消失*/
            .dtlSwitchBtn-CL {
                display: none;
            }
            /*詳細商品內容-圖片區消失*/
            .dtlContainImg-CL {
                display: none;
            }
            /*詳細商品說明-表格*/
            .dtlContainTable-CL {
                display: block;
                margin-top: 550px;
                width: 355px;
            }
            .dtlContainTbHead-CL {
                height: 100px; 
            }
            .dtlContainTbHead-CL h4 {
                font-size: 16px;
                line-height: 30px;
            }
            .dtlContainTable-CL tr td:nth-child(1) {
                width: 130px;
                font-size: 16px;
            }

            /*手機版gotop按鈕*/
            .siteBtn-CL2 {
                display: block;
                text-align: center;
                line-height: 50px;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                z-index: 999;
                background: #374052;
                border: 1px solid #ffffff;
                position: fixed;
                top: 85vh;
                left: 80vw;
                }
            .siteBtn-CL2 a {
                color: #ffffff;
                font-weight: 500;
                text-decoration: none;
            }
         }

            


    